<!DOCTYPE html>
{% extends 'Navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Team</title>
</head>
<body>
{% block body %}
<div>
    <div class="container text-center">
  <div class="row">
    <div class="col align-self-start">
     <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202023-12-31%20at%2018.05.25_f699107b.jpg?raw=true" class="card-img-top" alt="...">
  <div class="card-body">
      <p class="fst-italic fw-bold">Akula Sai Sankar</p>
      <p class="card-text">Backend Developer</p>
  </div>
</div>
    </div>
    <div class="col align-self-center">
      <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/Test/blob/main/focus%20pic.jpg?raw=true" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="fst-italic fw-bold">Pothuri Tej Eswar Sai</p>
      <p class="card-text">Front End Developer</p>
  </div>
</div>
    </div>
    <div class="col align-self-end">
      <div class="card" style="width: 18rem;">
  <img src="https://www.kluniversity.in/img/logo9.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="fst-italic fw-bold">Abhinav</p>
      <p class="card-text">Front End Designer</p>
  </div>
</div>
    </div>
  </div>
</div>
</div>
{% endblock %}
</body>
</html>