{% extends 'adminnavbar.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Flight</title>
</head>
<style>
    table {
        border: 8px outset;
        border-radius: 10px;
        border-spacing: 10px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    th,
    td {
        padding: 5px;
    }
</style>

<body>
{% block body %}
    <h2 style="text-align:center"> Enter Details of Flight </h2>
    <form method="POST" action="{% url 'insert-emp' %}">
        {% csrf_token %}
        <table style="width:50%" align="center">
            <tr>
                <td>Flight Id</td>
                <td><input type="text" placeholder="Enter Flight Id" name="FlightId" /><br><br></td>
            </tr>
            <tr>
                <td>Flight Name</td>
                <td><input type="text" placeholder="Enter Flight Name" name="FlightName" /><br><br></td>
            </tr>
            <tr>
                <td>Flight Source</td>
                <td><input type="text" placeholder="Enter Flight Source" name="FlightSource" /><br><br></td>
            </tr>
            <tr>
                <td>Flight Destination</td>
                <td><input type="text" placeholder="Enter Flight Destination" name="FlightDestination" /><br><br></td>
            </tr>



            <tr>
                <td colspan="2" align="center"><input type="submit" class="btn btn-success"> </td>
            </tr>
        </table>

        <br><br>
        <div class="alert alert-danger" role="alert">
            Do you want see Information of Flights?
        </div>

        <p>
            <a href="{% url 'show-emp' %}">Go To Flights Information--></a>
        </p>
    </form>
{% endblock %}

</body>
</html>

