<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #A1EEBD">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'newhomepage' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'travelpackage' %}">Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'myteam' %}">My Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'insert-emp' %}">CRUD App</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'print' %}">Take Input</a></li>
            <li><a class="dropdown-item" href="{% url 'Otpgenerate' %}">Generate Random OTP</a></li>
            <li><a class="dropdown-item" href="{% url 'date_time' %}">Date and Time</a></li>
            <li><a class="nav-link disabled" aria-disabled="true" >Pie Chart</a></li>
            <li><a class="dropdown-item" href="{% url 'cars' %}">Cars Rental</a></li>
            <li><a class="dropdown-item" href="{% url 'weather' %}">Weather</a></li>
            <li><a class="dropdown-item" href="{% url 'feedback' %}">Feed Back Form</a></li>
            <li><a class="dropdown-item" href="{% url 'sendmail' %}">Send Mail ✔</a></li>
            <li><a class="dropdown-item" href="{% url 'attachmentmail' %}">Send Mail with Attachment ✔</a></li>
            <li><a class="dropdown-item" href="{% url 'dummymail' %}">Dummy Mail ✔</a></li>
             <li><a class="dropdown-item" href="{% url 'attachmail' %}">Attachment Mail with Receipt Details</a></li>
             <li><a class="dropdown-item" href="{% url 'review_list' %}">Review</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin' %}">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>


      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>